<div class="footer__container">

  <div class="footer-section">
    <div class="footeritos">
      <h2>Acerca</h2>
      <ul>
        <li><a>Servicios</a></li>
        <li><a>Tarifas</a></li>
        <li><a>Clientes</a></li>
      </ul>
    </div>
    <div class="footeritos">
      <h2>Recursos</h2>
      <ul>
        <li><a>Documentos</a></li>
        <li><a>Blog</a></li>

      </ul>
    </div>
    <div class="footeritos">
      <h2>Contacto</h2>
      <ul>
        <li><a>Ayuda</a></li>
        <li><a>Ventas</a></li>
        <li><a>Publicidad</a></li>
      </ul>
    </div>
    
  </div>


</div>
