<nav class="nav">
  <div class="img-container">
    <img src="../../../../assets/looking.png" alt="">
  </div>
  <div class="a-container">
    <a routerLink="/" class="nav__a">Inicio</a>
    <a routerLink="/hotels" class="nav__a">Nuestros hoteles</a>
    <a routerLink="/hotel_add" class="nav__a">Añade un hotel</a>
    <a routerLink="/hotel_edit" class="nav__a">Modifica tu hotel</a>
  </div>

  <div class="log-reg">
    <a class="login" routerLink="/login">Login</a>
    <a class="registro" routerLink="/registro">Registro</a>
  </div>
   
</nav>

<!-- <nav class="hamburger">
  <div>
    <div class="_layer -top"></div>
    <div class="_layer -mid"></div>
    <div class="_layer -bottom"></div>
  </div>
  <nav class="menuppal">
      <ul>
        <li><a routerLink="/" class="nav__a">Inicio</a></li>
        <li><a routerLink="/hotels" class="nav__a">Nuestros hoteles</a></li>
        <li><a routerLink="/hotel_add" class="nav__a">Añade un hotel</a></li>
        <li><a routerLink="/hotel_edit" class="nav__a">Modifica tu hotel</a></li>
      </ul>
    </nav>
</nav> -->
