
form{
    display: flex;
    padding: 25px 50px 25px 50px;
    background-color: #F7EFE5;
   justify-content: center;
    .container{
        width: 600px;
        display: flex;
        flex-direction: column;

        h4 {
            font-weight: bold;
            color: #674188;
        }

        button {
           width: 80px;
           border-radius: 10px;
           border: 0.3px solid purple;
           background-color: #674188;
           color: whitesmoke;
        
           

        }

        button:hover {
            background-color: whitesmoke;
            color: #674188;
        }
      


        input{

            margin: 10px 0 10px 0 ;
            padding: 10px 10px 10px 10px ;
            box-shadow: inset -80px 90px 20px -100px rgb(0 0 0 / 75%);
            border: none;
            border-radius: 10px;



        }

        input::placeholder { 
            color: #674188;
        }
        
        

        input:focus {
            border: 0.5 solid black;
        }
        .img-button{
            padding:  10px 15px 10px 15px;

        }
        .hotel-button{
            margin-top: 10px;
            width: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 25px;

        }
        .input-detail{
            margin: 10px 20px 10px 0 ;
            padding: 10px 10px 10px 10px ;
            width: 497px;


        }
        .div-button{
            display: flex;
            justify-content: center;
            
        }

    }
    
}


