.main-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    
}
.rating {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
        display: flex;
        flex-direction: row;
    }
}
.detail {
    padding: 30px 15px 30px 15px;
    display: flex;
    justify-content: space-around;

    &-image {
        width: 700px;
        height: 700px;
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        }
    }
    &-text {
        width: 500px;
        
        display: flex;
        flex-direction: column;
        font-size: 35px;
        justify-content: space-evenly;
    }
    &-links {
        display: flex;
        justify-content: space-evenly;
    }
    
}
.star{
    width: 70px;
}

.hotel-star{
    width: 60px;
    
}