<div *ngIf="hotelAbout">
    <div class="main-info">
        <h4>{{hotelAbout.name}}</h4>
        <div class="rating">
            <p>{{hotelAbout.stars}} *</p>
            <p>{{hotelAbout.rating}}</p>
        </div>
    </div>
    
    <div class="detail">
        <div class="detail-image">
            <img src="{{hotelAbout.image}}" alt="">
        </div>
        <div class="detail-text">
            <div>{{hotelAbout.description}}</div>
            <div class="detail-links">
                <a href="{{hotelAbout.enlace}}">Ver hotel</a>
                <a href="{{hotelAbout.ubication}}">¿Dónde está?</a>
            </div>
            <div>
                <p>{{hotelAbout.pricePerNight}}</p>
                <p>{{hotelAbout.capacity}}</p>
            </div>
        </div>
    </div>
    
    

    <div *ngFor="let imagen of hotelAbout.imageDetail">
        <img src="{{imagen}}" alt="try">
    </div>
    
</div>
